*.vsidx
*.ipch
*.bin
*.db
/.vs
/pd3gg/x64
/x64/Debug
pd3gg/x64/Debug/pd3gg.log
pd3gg/x64/Debug/pd3gg.tlog/CL.read.1.tlog
pd3gg/x64/Debug/pd3gg.tlog/CL.write.1.tlog
pd3gg/x64/Debug/ssmda.obj
pd3gg/x64/Debug/vc143.idb
pd3gg/x64/Debug/vc143.pdb
*.obj
*.tlog
*.idb
*.pdb
